API_KEY=dev-key
FRAME_MS=20
SAMPLE_RATE=16000
SCHED_WINDOW_MS=20
MAX_BATCH=8
JAEGER_AGENT_HOST=jaeger
JAEGER_AGENT_PORT=6831
TTS_TLS=0
TTS_TLS_CA=/certs/ca.pem
TTS_TLS_CERT=/certs/server.crt
TTS_TLS_KEY=/certs/server.key

